/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*PUT YOUR GLOBAL CSS HERE:  */ 
h1#body_content_title{
visibility: hidden;
}
header{

	margin-top: -5%;
	margin-left: 10px;
}



 .brand{
	margin-top: -3px;
	font-size: 30px;

}

.navbar .navbar-inner .container-fluid a {
	text-shadow: none;
	color: #FFFFFF;
}
/*
img[alt*="A Big"]{

	width: 65%;
margin-left: -1%;
}

img[alt*="187"]{
	width: 44%;

}
img[alt*="115"]{
	width: 75%;
	min-width: 50%;
margin-left: 15%;
}
img[alt*="203"]{
	width: 50%;
margin-left: 15%;
}
img[alt*="89"]{
	width: 31%;
float: left;
padding-right: 10px;
}
img[alt*="Resume"]{
	margin-top: -50px;
	float:left;
	width: 88%;
}
*/
article{
	padding-top: 1%;
padding-right: 15px;
margin-right: 10%;
}
