/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*PUT YOUR GLOBAL CSS HERE:  */
/* ======= "display none" for Jquery ======== */ 
img{
 display: none; 
}
h3{
 display: none;  
}

h2{
 display: none;  
}
h1{
display: none;

	
}
.container-fluid{
  display: none;
}
div.container-fluid{
	display: none;
}

/* ==== banner =====*/

h1#body_content_title{
visibility: hidden;
}

.container-fluid {
background: #000000;
}

.navbar .navbar-inner .container-fluid a {
	text-shadow: none;
	
	color: #FFFFFF;
}

/* ##### images by selector ###### */

img[alt="Samantha Cook 10 A Big"]{
	margin-top: -1%;
	width: 70%;
margin-left: -1%;
}
/* --------------------- pix ---------------- */

img[alt="Portrait Scarf Smile 202"]{
	width: 90%;

}

img[alt="Cook Samantha 115"]{
	width: 75%;
	min-width: 50%;
margin-left: 15%;
}
/*-----------------about -----------------------*/
img[alt="Cook Samantha 089 Ret"]{
	height:-2%;
	width: 28%;
float: left;
padding-right: 10px;
}

/*------------ res ---------------------*/
img[alt="Samantha Cook Resume"]{
	margin-top: -50px;
	float:left;
	width: 88%;
}

/* #### other html tags #### */

article{
	padding-top: 1%;
padding-right: 15px;
margin-right: 10%;
}

/* ------------------ heading main page ---------*/
a h1{
	margin-left: -8px;
	color: #000000;
	margin-top: -1%;

}
a[title="samanthac7@msn.com"]{
float:right;
	margin-top: -4%;
	margin-right: 31%;
}

/* #####  end ##### */
