/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*PUT YOUR GLOBAL CSS HERE:  */ 
h1#body_content_title{
visibility: hidden;
}

.container-fluid {
background: #000000;
}

.navbar .navbar-inner .container-fluid a {
	text-shadow: none;
	
	color: #FFFFFF;
}

img[alt="Samantha Cook 10 A Big"]{

	width: 65%;
margin-left: -1%;
}

img[alt="Cook Samantha 187 A"]{
	width: 44%;

}
img[alt="Cook Samantha 115"]{
	width: 75%;
	min-width: 50%;
margin-left: 15%;
}

img[alt="Cook Samantha 089 Ret"]{
	height:-2%;
	width: 28%;
float: left;
padding-right: 10px;
}
img[alt="Samantha Cook Resume"]{
	margin-top: -50px;
	float:left;
	width: 88%;
}

article{
	padding-top: 1%;
padding-right: 15px;
margin-right: 10%;
}
